<meta charset="UTF-8"/>
<title>Instagram Popular Images using Node</title>
<link rel="shortcut icon" href="http://ufec.ph/images/instagram-logo-small.jpg"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/style.css"/>