<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a href="http://instagram.com" target="_blank" class="navbar-brand">
				<img class="img-responsive" src="http://www.thehokiehuddle.com/img/logo_instagram_text.png"/>
			</a>
		</div>
		<div class="navbar-right">
			<a href="https://github.com/ArunMichaelDsouza/node-test" target="_blank">
				<img class="github-logo" src="http://www.data.parliament.uk/base/images/github-logo.png" />
			</a>
		</div>
	</div>
</nav>