<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<main class="container">
			<span title="Refresh" onclick="refresh()" class="glyphicon glyphicon-refresh refresh"></span>
			<div class="row">
				<% images.forEach(function(data) { %>
				<div class="col-sm-3">
					<a href="<%= data.link %>" target="_blank" class="img-wrapper">
						<img class="img-responsive" src="<%= data.images.standard_resolution.url %>"/>
						<div class="stat-bar row">
							<div class="pull-left">
								<span class="glyphicon glyphicon-heart"></span>
								<%= data.likes.count %>
							</div>
							<div class="pull-right">
								<span class="glyphicon glyphicon-comment"></span>
								<%= data.comments.count %>
							</div>
						</div>
					</a>
				</div>
				<% }); %>
			</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
	<script>
		var refresh = function() {
			location.reload();
		};	
	</script>
</html>